<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>geosphere</title>

    <link rel="stylesheet" href="css/style.css"/>

    <!-- jquery -->
    <script src="js/bower_components/jquery/dist/jquery.js"></script>
    <!-- THREE -->
    <script src="js/other_components/Three/three.min.js"></script>
    <!-- THREEx.FullScreen -->
    <script src="js/other_components/THREEx.FullScreen/THREEx.FullScreen.js"></script>
    <!-- THREEx.WindowResize -->
    <script src="js/bower_components/threex.windowresize/threex.windowresize.js"></script>
    <!-- Detector -->
    <script src="js/other_components/Detector/Detector.js"></script>
    <!-- TrackballControls -->
    <script src="js/other_components/TrackballControls/TrackballControls.js"></script>
    <!-- toxiclib -->
    <script src="js/bower_components/toxiclibsjs/build/toxiclibs.js"></script>
    <!-- delaunay -->
    <script src="js/other_components/delaunay/delaunay.js"></script>
    <!-- d3 -->
    <script src="js/bower_components/d3/d3.min.js"></script>
    <!-- queue -->
    <script src="js/bower_components/queue-async/queue.js"></script>
    <!-- lodash -->
    <script src="js/bower_components/lodash/dist/lodash.js"></script>
    <!--  main script  -->
    <script src="js/lib/geosphere.js"></script>

</head>
<body>
<div id="container"></div>
<div class="source">
    by @hllwd - <a target="_blank" href="https://github.com/hllwd/geosphere">github repository</a><br/>
    source <a target="_blank" href="http://apps.who.int/gho/data/node.main.3?lang=en">World Health Organization</a>
</div>
</body>
</html>