<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>geosphere</title>

    <!-- jquery -->
    <script src="js/bower_components/jquery/dist/jquery.js"></script>
    <!-- THREE -->
    <script src="js/other_components/Three/three.min.js"></script>
    <!-- THREEx.FullScreen -->
    <script src="js/other_components/THREEx.FullScreen/THREEx.FullScreen.js"></script>
    <!-- THREEx.WindowResize -->
    <script src="js/bower_components/threex.windowresize/threex.windowresize.js"></script>
    <!-- Detector -->
    <script src="js/other_components/Detector/Detector.js"></script>
    <!-- TrackballControls -->
    <script src="js/other_components/TrackballControls/TrackballControls.js"></script>
    <!-- p5.js -->
    <script src="js/other_components/p5/p5.js"></script>
    <!--  main script  -->
    <script src="js/lib/geosphere.js"></script>

</head>
<body>
<div id="container"></div>
</body>
</html>